@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Roboto&family=Sacramento&display=swap');

.hole {
    background-image: url("./background.png");
}

.Homescreen {
    display: flex;
    justify-content: space-between;
    padding: 4px 332px 255px 332px;
    justify-content: center;
}
.profile_text {
    color: white;
    text-align: center;
    padding-top: 222px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight:100;
}

.Home_profile {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 20%;
    padding: 20px;
    transition: ease-in 0.3s;
    
    
}

/* .scale {
    transition: scale ease-in 1s ;
    width: 100%;
    height: 100%;
} */

.Home_profile:hover {
    transform: scale(1.2);
}